/*-- scss:rules --*/

.panel-caption, .figure-caption, figcaption {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  color: #8193af;
  margin-top: 2px;
}

.blockquote {
  width: 80%;
  font-size: 1rem;
  padding: 25px;
  margin: 25px;
  border-left: 6px solid #3E7049
}

.blockquote p {
  font-style: normal
}

div.callout-note.callout {
    border-color: #3E7049;
}

div.callout-tip.callout {
    border-color: #3E7049;
}


.callout.callout-style-minimal .callout-body {
    font-size: 1rem;
    color:  #3E7049;
    font-style: normal;
} 

.callout.callout-style-simple .callout-body {
    font-size: 1rem;
    color:  #3E7049;
    font-style: italic;
} 

.callout.callout-style-default .callout-body {
    font-size: 1.1rem;
    color:  #3E7049;
    font-style: italic;
} 
