p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
blockquote {
  width: 80%;
  font-size: 20px;
  padding: 25px;
  margin: 25px;
  border-left: 6px solid #024f13
}

blockquote p {
  font-weight: bold;
  font-style: italic
}

/* Bibliography / references */
/* https://github.com/rstudio/bookdown/pull/1277 */

.csl-entry {
  margin-top: 1em;
}

.hanging-indent .csl-entry {
  padding-left: 1em;
  text-indent: -1em;
}